<section>
    <h1>Projects</h1>
    <p><%= link_to "Smacne", "https://smacne.co/", :target => "_blank" %> - Technologies: Ruby on Rails, Postgresql, Stripe, Heroku, Solidus, Google API’s</p>
    <p><%= link_to "Moxiworks", "https://moxiworks.com/", :target => "_blank" %> - Technologies: Ruby on Rails, Postgresql, Docker, Sidekiq, Resque</p>
    <p><%= link_to "Peak Design", "https://www.peakdesign.com/", :target => "_blank" %> - Technologies: Ruby on Rails, Postgresql, Shopify, Shopify API, AWS, Heroku, Stripe</p>
    <p><%= link_to "Perx Technologies", "https://www.perxtech.com/", :target => "_blank" %> - Technologies: Ruby on Rails, Postgresql, Postgis, AWS, RDS, Stripe, Google API’s</p>
    <p><%= link_to "Communi Tree", "https://subdivision-app-development.up.railway.app/users/sign_in", :target => "_blank" %> - Technologies: Ruby on Rails, Postgresql, Turbo-Rails</p>
</section>