<section>
    <h1>Technical Skills</h1>
    <ul class="skill-set">
    <li>
        <%= link_to "golang", "https://go.dev/", :target => "_blank" %>
    </li>
    <li>
        <%= link_to "gin-gonic/gin", "https://github.com/gin-gonic/gin", :target => "_blank" %>
    </li>
    <li>
        <%= link_to "Ruby", "https://www.ruby-lang.org/en/", :target => "_blank" %>
    </li>
    <li>
        <%= link_to "Ruby on Rails", "https://rubyonrails.org/", :target => "_blank" %>
    </li>
    <li>
        <%= link_to "Sidekiq", "https://github.com/sidekiq/sidekiq", :target => "_blank" %>
    </li>
    <li>
        <%= link_to "Python", "https://www.python.org/", :target => "_blank" %>
    </li>
    <li>
        <%= link_to "Django", "https://www.django-rest-framework.org/", :target => "_blank" %>
    </li>
    <li>
        <%= link_to "Php", "https://www.php.net/manual/en/langref.php", :target => "_blank" %>
    </li>
    <li>
        <%= link_to "Laravel", "https://laravel.com/", :target => "_blank" %>
    </li>
    <li>
        <%= link_to "PostgreSQL", "https://www.postgresql.org/", :target => "_blank" %>
    </li>
    <li>
        <%= link_to "Mysql", "https://www.mysql.com/", :target => "_blank" %>
    </li>
    <li>
        <%= link_to "Docker", "https://www.docker.com/", :target => "_blank" %>
    </li>
    </ul>
</section>