<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light' rel='stylesheet' type='text/css'>
<div class="wrapper clearfix">
    <%=render "personal_information"%>
    <div class="right">
        <div class="inner">
        <%=render "employment"%>
        <%=render "technical_skill"%>
        <%=render "education"%>
        <%=render "project"%>
        <%=render "personal_interest"%>
        <section>
            <div class="handmade">
            <p>handmade by <em> Jophat Tamayo</em></p>
            </div>
        </section>
        </div>
    </div>
</div>